DATA_DIR=./data
# SQLite database will be created inside DATA_DIR as ruh-imperium.sqlite
PORT=3000
AUTH_SECRET=replace-with-a-long-random-secret
ADMIN_EMAIL=sadityasingh7990@gmail.com
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=your_razorpay_secret
OTP_PROVIDER=msg91
MSG91_AUTH_KEY=your_msg91_auth_key
MSG91_TEMPLATE_ID=your_msg91_flow_template_id
MSG91_SENDER_ID=RUHIMP
MSG91_ROUTE=4
